@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #ffffff;

  --color-primary: #0d9488;
  --color-primary-focus: #0f766e;

  --color-secondary: #f59e0b;
  --color-secondary-focus: #d97706;

  --color-accent: #2563eb;
  --color-accent-focus: #1d4ed8;

  --color-neutral: #374151;
  --color-neutral-focus: #1f2937;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;

  --color-info: #0ea5e9;
  --color-success: #16a34a;
  --color-warning: #facc15;
  --color-error: #dc2626;
}

a.active {
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-hover-primary {
  @apply btn btn-ghost text-xl transition-all duration-500 ease-in-out hover:rounded-full mx-1;
}
